* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#containerHeroSection {
    width: auto;
    height: 500px;
}

#HeroSection {
  width: 100%;
  height: 100%;
}

#containerButtonsPortada {
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 20%;
  padding: 0 10px;
}

#containerButtonsPortada > Button {
  width: 200px;
  height: 50px;
}

#containerFooter {
  background-color: #1976d2;
  width: 100%;
  height: 100px;
}


.gutter-box {
  padding: 10px 0;
}

.content {
  padding: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}